@import "_var";
@import "colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.special-text {
  color: $special-color;
  cursor: pointer;
}

header {
  @include title;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  border-bottom: 1px solid rgba(151,151,151,0.5);
  padding: 10px 20px 0 20px;

  .header-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;

    > * {
      cursor: pointer;
    }

    &-left {
      img {
        vertical-align: bottom;
      }

      span {
        font-size: 21px;
        font-weight: 500;
      }
    }

    &-right {

      img {
        border-radius: 50%;
        vertical-align: middle;
        margin-left: 20px;
      }
    }
  }

  nav {
    ul {
      list-style: none;

      li {
        display: inline-block;
        font-size: 15px;
        margin: 5px 30px 0 0;
        padding-bottom: 8px;
        cursor: pointer;

        &:last-child {
          color: $special-color;
          border-bottom: 3px solid $special-color;
        }
      }
    }
  }
}

main {
  padding: 100px 0 50px 0;

  .faq-container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 70px;

    .question {
      @include title;
      font-size: 23px;
      padding-bottom: 20px;
    }

    .answer {
      @include text;
      font-size: 14px;
      line-height: 1.7em;

      p {
        margin-bottom: 20px;
      }

      ol li {
        list-style-position: inside;
        padding: 6px 0 6px 20px;
      }

      .small-title {
        @include title;
        font-size: 18px;
        padding: 30px 0;
      }
    }
  }
}

footer {
  @include text;
  display: flex;
  justify-content: space-between;
  padding: 20px 260px;
  background-color: $footer-bg-color;

  .footer-left {
    ul {
      list-style: none;

      li {
        display: inline-block;
        font-size: 11px;
        margin-right: 12px;
        cursor: pointer;
      }
    }
  }
}
